.block.employee-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.employee-list-item {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: $gutter;
    font-size: 1.25rem;
    text-align: center;
    @media #{$medium-up} {
        flex-basis: 50%;
        max-width: 50%;
    }
    @media #{$large-up} {
        flex-basis: 33.333333%;
        max-width: 33.333333%;
    }
    & > * {
        flex: 1;
    }
}
.employee-list-item-image {
    padding: $gutter;
    max-width: 100%;
    display: block;
    img {
        width: 100%;
        border-radius: 50%;
    }
}
.employee-list-item-info {
    h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
    }
}
.employee-list-item-label {
    font-weight: 600;
    color: $secondary-color;
}
.employee-list-item-info-position {
    font-style: italic;
    margin-bottom: .5em;
}
