.single-asset.block {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    img {
        width: 100%;
    }
    &:first-child {
        padding-top: 0;
        padding-bottom: 0;
    }
}
.single-asset-caption {
        font-size: 0.875rem;
        font-style: italic;
        text-align: center;
        p {
            font-size: 0.875rem;
        }
}
