/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: $almost-white;
    color: $body-font-color;
    padding: 0.2em 0;
}