button,
.button,
a.button {
    position: relative;
    display: inline-block;
    box-shadow: none;
    text-shadow: none;
    border: 0;
    padding: 0;
    text-align: center;
    &:hover,
    &:focus,
    &:active {
        box-shadow: none;
        text-shadow: none;
    }
}
button span,
.button span,
a.button span {
    display: block;
    background-color: $secondary-color;
    color: $light;
    border: 2px solid $secondary-color;
    border-radius: $radius;
    padding: .25em 1.7em;
    display: inline-block;
    font-size: $base; 
    font-weight: 500;
    position: relative;
    z-index: 100;
    transform-origin: left center;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    @media #{$medium-up} {
        font-size: 1.5rem;
    }
    &:after {
        content: #{$icon-arrow-small-white}; 
        width: 18px;
        height: 15px;
        display: inline-block;
        line-height: 0;
        margin-left: 1em;
        transform: translateX(0);
        transition: transform .2s ease-in-out;
    }
}
button,
.button,
a.button {
    &:hover span,
    &:active span,
    &:focus span {
        cursor: pointer;
        background-color: $dark;
        border-color: $dark;
        &:after {
            transform: translate(7px);
        }
    }
}
.button,
a.button {
}
.button.button-cta_ghost span {
    background-color: transparent;
    color: $light;
    border: 1px solid $light;
    &:after {
        content: #{$icon-arrow-small-white}; 
    }
    &:hover,
    &:active,
    &:focus {
        background-color: transparent;
        border-color: $secondary-color;
        color: $secondary-color
    }
}
.button.button-cta_link {
    span {
        background-color: transparent;
        border-color: transparent;
        color: $body-font-color;
        text-decoration: underline;
        &:after {
            content: #{$icon-arrow-small-white}; 
        }
        &:hover,
        &:active,
        &:focus {
            border-color: transparent;
            background-color: transparent;
            color: $secondary-color;
            text-decoration: none;
        }
    }
}
.button.button-hide-arrow span { 
    &:after {
        display: none;
    }
}
